body {
  padding: 1em;
}

.divider-column {
  position: relative;
  padding: 0 !important;
}

.welcome-segment {
  width: 75% !important;
  margin-top: 10% !important;
}

.error {
  color: red;
}

.signup-segment {
  width: 40% !important;
  margin-top: 15% !important;
}

.unfollow-button:hover {
  background-color: red !important;
}
